.book-table {
    display: flex;
    flex-direction: column;
  }
  
  .book-row {
    display: flex;
  }
  
  .book-cell {
    flex: 1;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .header {
    background-color: #f0f0f0;
  }
  
  .book-cell:not(:last-child) {
    margin-right: 10px;
  }
  
  .book-cell:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .book-cell:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .book-cell img {
    max-width: 100%;
    height: auto;
  }
  